<div>
    <form class="form" [formGroup]="show" (ngSubmit)="onSubmit()">
        <label for="tickets">Number of Tickets </label>
        <input type="number" formControlName="tickets">
        
        <label for="show">show timings</label>
            <select name="timings" formControlName="show">
                <option value="Morning">Morning</option>
                <option value="Matinee">Matinee</option>
                <option value="Evening">Evening</option>
                <option value="Night">Night</option>
            </select>

        
            <label for="username">Username</label>
            <input type="text" formControlName="username">            

        <label for="movie">Movie</label>
        <input type="text" formControlName="movie">

        <button class="btn btn-success" type="submit" >add show</button>

    </form>
</div>